* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* Parte del header compuesta en grid, compuesta por logo, buscador y menu */
header{
 width: 100%;
 background-color: #303030;
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: repeat(2, auto);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}
.nav-header{
 text-align: center;
 background-color: #0d0d0d;
 grid-column-start: 1;
 grid-column-end: 4;
 width: 100%;
}
.logo{
 font-size: 2.3vh;
 height: 9vh;
 display: flex;
 justify-content: space-between;
 text-align: center;
 transform: scale(0.5,0.5);
  
}
.contenedor-header {
 height: 5vh;
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin: 10px auto;
 text-align: center;
}
.buscador{
 height: 2em;
 width: 40vw;
 margin-top: 20px;
 padding: 15px;
 width: 100%;
}
.buscador:hover{
 cursor: pointer;
 background-color: #dbdbdb;
}
.elipsis{
 padding-top: 5em;
 font-size: 0.3em;
 float: right;
 padding-left: 5%;
 width: 100%;
}
.nav-enlace{
 display: inline-block;
 margin: 0px;
 padding: 8px;
 color: white;
 text-decoration: none;
}
.nav-enlace:hover{
 color: #3ea6ff;
}
nav{
 background-color: #0d0d0d;
}
/*main de las paginas*/
main {
 background-color: #181818;
 height: 80vh;
 min-height:1px;
 min-width:1px;
 width: 100%;
 overflow: auto;
 padding-bottom: 14px;
}
h1{
 text-align: center;
 color: white;
 font-family: "Roboto Slab", serif;
 font-weight: normal;
 padding: 10px;
 margin-top: 10px;
}
h2{
 text-align: center;
 color: white;
 font-family: "Roboto Slab", serif;
 font-weight: normal;
 padding: .5em;
 font-size: 1.2em;
}
p{
  color: white;
}
.fas{
 font-size: 5em;
 color: white;
}
.fas:hover{
 color: #3ea6ff;
}
.fa-search{
font-size: 1.4em;
 margin-top: 23px;
 position: relative;
 right: 35px;
 color: #303030;
}
button{
 margin-top: 1em;
 height: 2em;
 border: none;
 border-radius: 3px;
 width: auto;
 font-size: 1em;
 background-color: #3ea6ff;
}
button:hover{
 background-color: #3280c2;
 cursor: pointer;
}
input{
 border-radius: 3px;
 border: none;
}
input[type=text]:hover,input[type=list]:hover{
 background-color: #dbdbdb;
}
/*Contacto*/
.tit_contacto{
 text-align: left;
 margin-left: 9.4%;;
 padding-top: 1em;
}
.inputs_contacto{
 margin-top: 1em;
}
.text_area{
 height: 8vh;
 margin-left: 10em;
 width: 50%;
	margin-left: 20%;
 padding-left: 3px;
 padding: 1px 0px 0px 3px;
}
.input_form{
 height: 3em;
 border-radius: 3px;
 margin-left: 20%;
 padding: 1px 0px 0px 3px;
}
.enviar_contacto{
 float: right;
 width: 100px;
 margin-right: 11em
}
.datos_contacto{
 height: 35vh;
 width: 70%;
 padding: 1px 0px 0px 3px;
}
iframe{
 height: 300px;
 width: 100%;
}
/*Calendario*/
.contenedor-calendario{
 display: flex;
 width: auto;
 margin: auto;
 padding-top: 1.25em;
 padding-bottom: 1.25em;
 padding-left: 18.75em;
 padding-right: 3.125em;
}
.contenedor-calendario img{
 width: auto;
 width: 12.5em;
 height: 12.5em;
 margin-bottom: 1.875em;
 border-radius: 1.875em;
 box-shadow: 0 1.25em 1.25em black;
}
.calendario-textoimagen2{
 margin: auto;
 font-size: 0.9375em;
 color: white;
 padding-right: 18.75em;
}
.inscribirse-calendario{
 display: inline-block;
 margin-bottom: 0.625em;
 margin-top: 0.625em;
 padding: 0.5em;
 border-radius: 3px;
 color: white;
 width: 6.25em;
}
.filtrar-por{
  color: white;
  text-align: left;
  margin-top: 0.75em;
  margin-left: 0.9375em;
}
select{
 border-radius: 3px;
}
select:hover{
 cursor: pointer;
 background-color: #dbdbdb;
}
/*Establecimientos*/
.contenedor-establecimiento1{
 display: flex;
 padding: 1em;
}
.contenedor-establecimiento1 img{
 width: auto;
 margin: auto;
 border-radius: 3px;
 box-shadow: 0 20px 20px black;
}
.textoimagen1{
 margin-right: 10em;
 font-size: 3em;
 margin-top: 1em;
 border-radius: 30px;
 margin-bottom: 2em;   
}
.contenedor-establecimiento2{
 display: flex;
 padding-top: 2em;
 padding-bottom: 2em;
 padding-left: 20em;
 padding-right: 4em;
}
.contenedor-establecimiento2 img{   
 margin: auto;
 width: 19em;
 height: 19em;
 border-radius: 30px;
 box-shadow: 0 20px 20px black;
margin-bottom: 2em;
}
.textoimagen2{
 margin: auto;
 font-size: 1.5em;
 padding-right: 3em;
}
/*index*/
.slider {
 display: flex;
 background-color: black;
 height: 20%;
 width: 100%;
}
.slider img {
 height: 50vh;
 width: 100%;
}
.inscripcion {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
 margin: 0 2vh 5vh;
}

.pasos-incripcion {
 height: 23vh;
 width: 23vh;
 margin: 15px;
 background-color: #303030;
 border-radius: 50%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1.3em;
}
.pasos-incripcion img {
 height: 18vh;
 width: 18vh;
}

.boton {
 display: inline-block;
 width: 23vh;
 min-height: 6vh;
 background-color: #3ea6ff;
 cursor: pointer;
 border: none;
 border-radius: 3px;
}
.boton:hover {
 background-color: #3280c2;
}
.contenedor-mapas {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 background-color: #303030;
 box-sizing: border-box;
 padding: 1.5vh;
}
.sede {
 text-align: center;
 margin: 0%;
 font-size: 1.3em;
 margin-top: -4vh;
}
.mapas {
 width: 29vh;
 margin: auto;
}
.mapa {
 max-height: 22vh;
}
.contenedor-fotos {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
 margin: 0 0 2vh;
}
.fotos {
 background-color: #303030;
 height: 22vh;
 width: 29vh;
 margin: auto;
}

.fotos-img {
 width: 100%;
 height: 100%;
 border-radius: 4px;
}

.mapa {
 height: 170px;
 width: 100%;
 border-radius: 4px;
}

.main p{
 text-align: center;
 margin: 3vh;
}

.contenedor-form {
 color: white;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-evenly;
 align-items: flex-start;
}
.contenedor-form div {
 margin:0 5vh 5vh;
}

.contenedor-form div div {
 margin: 3vh 0vh 3vh;
 width: 60vh;
}
.contenedor-form div div input,
select {
 width: 60vh;
 padding: .4em;
 font-size: 1em;
}
.contenedor-form div div .boton{
 max-width: 25vh;
 margin-left: calc(100% - 25vh);

}
.precio_y_boton{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: flex-end;
 max-width: 60vh;
 height: 6vh;
}
#precio{
 width: 35vh;
 padding: .4em;
 font-size: 1em;
}
#boton{
 width: 25vh;
 min-height: 5vh;
 border-radius: 3px;
 font-size: 1em;
 background-color: #3ea6ff;
 border: none;
}
#boton:hover{
 background-color: #3280c2;
 cursor: pointer;
}
/*Nosotros*/
.textos p{
 margin: 3vh;
}
.profesores{
  display: flex;
  width: 80%;
  margin: auto;
  height: fit-content;
}
.profesores-conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 2vh;
  width: 70%;
}
.profesores-fotos{
  height: 20vh;
  width: 20vh;
  margin: auto;
  border-radius: 50%;
  padding: 1vh;
}
.profesores-conteiner p{
  margin: auto;
  display: inline-block;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  border: 1px solid #0d0d0d;
  padding: 1vh;
}

#precio{
  width: 35vh;
}
/*Inscripcion*/
.boton-inscribirse{
 border: none;
 border-radius: 4px;
 width: 25vh;
 min-height: 6vh;
 background-color: #3ea6ff;
}

.boton-inscribirse:hover{
 background-color: #3280c2;
 cursor: pointer;
}
.textos{
  display: flex;
  flex-wrap: nowrap;
  margin: 0vh 15vh 0;
}
.textos p{
  margin: 3vh;
}

.profesores{
  display: flex;
  width: 80%;
  margin: auto;
  
  height: fit-content;
}
.profesores-conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 2vh;
  width: 70%;
}

.profesores-fotos{
  height: 20vh;
  width: 20vh;
  margin: auto;
  border-radius: 18%;
  padding: 1vh;
}
.profesores-conteiner p{
  margin: auto;
  display: inline-block;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  border: 1px solid #0d0d0d;
  padding: 1vh;
}


/*footer*/
footer {
 background-color: #0d0d0d;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 padding-top:14px;
 width: 100%;
 position: relative;
 clear: both;
}
.redes{
 color: white;
 font-size: 4vh;
 padding-left: 15px;
 padding-right: 5px;
}
.redes:hover{
 color: #3ea6ff;
}
.col-12 {
 width: 100%;
}
.col-9 {
 width: 75%;
 float: left;
}
.col-8 {
 width: 66.66666666%;
 float: left;
}
.col-6 {
 width: 50%;
 float: left;
}
.col-4 {
 width: 33.33333333%;
 float: left;
}
.col-3 {
 width: 25%;
 float: left;
}
.col-2 {
 width: 16.66666666%;
 float: left;
}
