* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Parte del header compuesta en grid, compuesta por logo, buscador y menu */
header{
  width: 100%;
  background-color: #303030;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.nav-header{
  text-align: center;
  background-color: #0d0d0d;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}
.logo{
  height: 9vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  transform: scale(0.5,0.5);
  
}
.contenedor-header {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  text-align: center;
}
.buscador{
  height: 2em;
  width: 40vw;
  margin-top: 20px;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
}
.buscador:hover{
  cursor: pointer;
}
input{
  margin-left: 20%;
}
.carrito{
  padding-top: 5em;
  font-size: 0.3em;
  float: right;
  padding-left: 5%;
  width: 100%;
}
.nav-enlace{
  display: inline-block;
  margin: 0px;
  padding: 8px;
  color: white;
  text-decoration: none;
}
.nav-enlace:hover{
  color: #3ea6ff;
}
nav{
  background-color: #0d0d0d;
}
/*main del inicio/

/*giftcard*/

/*Inscripcion formulario*/

/*footer*/
footer {
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top:14px;
  width: 100%;
  position: relative;
  clear: both;
}
.redes{
  color: white;
  font-size: 4vh;
  padding-left: 15px;
  padding-right: 5px;
}
.redes:hover{
  color: #3ea6ff;
}
.col-12 {
  width: 100%;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-8 {
  width: 66.66666666%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-2 {
  width: 16.66666666%;
  float: left;
}
/*pagina de curso*/
.cursoss{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1em;
}
.imagenDelCurso{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 2em 0em 0em 0em;
}
.detallesDelCurso{
  padding-top: 2em;
  color: thistle;
  text-align:left;
  font-size: 12px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.docenteDelCurso{
  background-color: #303030;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}
.foto1{
  display: grid;
  grid-template-columns: 12% 88%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0em 0em 0em 0em;
}
.primerainfo{
  padding-left: 4em;
}
.recomendacionesDelCurso{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #303030;
  border: #181818;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  margin-bottom: 1em;
  padding: 1em 0em 0em 0em;
  width: 20em;
  height: 12em;
}
.secciones{
  color: black;
  margin-right: 40em;
  border: solid #303030 1px;
  border-radius: 6px;
  padding: 3px;
  background-color: #303030;
}
.botoncompra{
  padding: 0.4em 0em 0em 9em;
}
ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  grid-auto-rows: 36px;
}